@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ropa Sans", sans-serif;
}

header {
  width: 100vw;
  background: #fff;
  box-shadow: 0px 2px 10px 0px #00000040;
  display: flex;
  align-items: center;
  padding: 7px;
  justify-content: space-between;
}

.logo{
  display: flex;
}


.title {
  font-family: 'Ropa Sans';
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #777777;
}

#title-description {
  font-family: 'Ropa Sans';
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #AAAAAA;
  padding: 5px;
  
}


.banner {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  
}

.banner img{
  width: 100vw;
  
}

.navbar{
  display: none;
}


.anuncios{
  display: flex;
  padding: 20px;
  margin-left: 20px;
}

.card-anuncio{
  display: flex;
  flex-direction: column;
}

.card-anuncio img{
  height: 100%;
  width: 90%;
  box-shadow: 1px 2px 4px 0px #00000040;

}

.infos-anuncio{
    width: 90%;
    background-color: #EEEEEE;
    box-shadow: 1px 2px 4px 0px #00000040;

}

.info-principal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.info-principal h3{
  color: #777777;
}

.info-texto{
  font-size: 10px;
  color: #555555;
  ;
}

#sale{
  height: 21px;
  width: 56px;
  border-radius: 10.5px;
  font-size: 16px;
  background-color:#DC9730;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#new{
  height: 21px;
  width: 56px;
  border-radius: 10.5px;
  font-size: 16px;
  background-color: #51D275;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media(min-width: 481px) {
  .hamburguer-menu {
    display: none;
  }
  
  .navbar{
    display: flex;
  }
  .navbar a{
    color: #777777;
    padding: 10px;
    font-size: 14px;
  }

 
}
